In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
from sklearn.tree import export_graphviz
import graphviz
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
import seaborn as sns
from matplotlib import font_manager, rc
from matplotlib import style

import numpy as np
from scipy import stats
import scipy.stats
import statsmodels.api as sm
import matplotlib.pyplot as plt
from statsmodels.stats.proportion import proportions_ztest
from scipy.stats import shapiro 
import statsmodels.formula.api as smf

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
matplotlib.rc('font',family="NanumGothic")

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
import os

from sklearn.tree import export_graphviz
import graphviz
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix

from catboost import CatBoostClassifier, Pool, cv
from sklearn.metrics import accuracy_score

from sklearn.tree import export_graphviz

os.environ["PATH"]+=os.pathsep+"~"
matplotlib.rc('font',family="NanumGothic")


from matplotlib import font_manager, rc
from matplotlib import style

## 우수고객

In [45]:
우수고객=pd.read_csv("우수고객정보.csv")
우수고객.head(2)

   Unnamed: 0    주문자ID  우수고객
0         NaN    pp209  True
1         NaN  arookee  True

# 다용도 컵

In [3]:
컵_용기=pd.read_excel("다용도 컵 재구매.xlsx")
컵_용기.head(2)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,인상전1,인상전2,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,인상후,주문자ID
0,NaN,NaN,NaN,NaN,14694906@n,39397803@n,NaN,NaN,NaN,NaN,10055065@n,pp209
1,NaN,NaN,NaN,NaN,20754614@n,45589961@n,NaN,NaN,NaN,NaN,1005958854@k,arookee

In [4]:
컵_용기=컵_용기.drop(["Unnamed: 0","Unnamed: 3","Unnamed: 1","Unnamed: 2","Unnamed: 6","Unnamed: 7","Unnamed: 8","Unnamed: 9"],axis=1)

In [5]:
컵_용기.head(3)

         인상전1        인상전2           인상후    주문자ID
0  14694906@n  39397803@n    10055065@n    pp209
1  20754614@n  45589961@n  1005958854@k  arookee
2  31446963@n  62497813@n    11321210@n    pp448

In [6]:
count = 0
for a in range(len(컵_용기["인상전1"])):
    for i in 컵_용기["인상전1"]:
        if i==컵_용기["주문자ID"][a]:
            print(컵_용기["주문자ID"][a])

sonicey
13180696@n
pp200
ksj8040
14694906@n
home2622
qw53888340
pp176
helloxg
wodnr8855
pp340

In [7]:
count = 0
for a in range(len(컵_용기["인상전2"])):
    for i in 컵_용기["인상전2"]:
        if i==컵_용기["주문자ID"][a]:
            print(컵_용기["주문자ID"][a])

pp547
dojs32
ksj8040
pp662
14694906@n
home2622
ywca897
wodnr8855
25345637@n

pp340  
qw53888340  
pp176  
helloxg  
pp200  
13180696@n  
pp547  
dojs32  
ksj8040  
pp662  
14694906@n  
home2622  
ywca897  
wodnr8855  
25345637@n

In [8]:
a=["pp340",
"qw53888340",
"pp176",
"helloxg",
"pp200",
"13180696@n",
"pp547",
"dojs32",
"ksj8040",
"pp662",
"14694906@n",
"home2622",
"ywca897",
"wodnr8855",
"25345637@n"]

인상전

In [9]:
l=list(set(a))
len(a)

15

인상후

In [10]:
count = 0
for k in range(len(l)):
    for i in 컵_용기["인상후"]:
        if i==a[k]:
            print(a[k])

pp547
dojs32
ksj8040
pp662
14694906@n
home2622
ywca897
wodnr8855

# 3명

# 도시락 용기

In [21]:
도시락=pd.read_excel("도시락 용기 재구매율 ID.xlsx")
도시락.head(2)

         인상전1         인상후2        인상전2
0  20754614@n  102764664@n  16398578@n
1  33709872@n  111681891@n  33709872@n

In [22]:
count = 0
for a in range(len(도시락["인상전1"])):
    for i in 도시락["인상전1"]:
 우수고객=pd.read_csv("우수고객정보.csv")
우수고객.head(2)       if i==우수고객["주문자ID"][a]:
            print(우수고객["주문자ID"][a])

sonhoya200
sejun87
ksj8040

In [23]:
count = 0
for a in range(len(도시락["인상전2"])):
    for i in 도시락["인상전2"]:
        if i==우수고객["주문자ID"][a]:
            print(우수고객["주문자ID"][a])

pp200
sonhoya200
sejun87
75243761@n
ksj8040

In [29]:
Z=["sonhoya200",
"sejun87",
"ksj8040",
"pp200",
"75243761@n"]

In [31]:
count = 0
for a in range(len(Z)):
    for i in 도시락["인상후2"]:
        if i==Z[a]:
            print(Z[a])

ksj8040

# 2명

# 중화용기

In [32]:
중화용기=pd.read_excel("중화면 재구매ID.xlsx")
중화용기.head(2)

,인상전 1,Unnamed: 1,인상전 2,Unnamed: 3,Unnamed: 4,인상후,주문자ID
0,행 레이블,NaN,행 레이블,NaN,NaN,행 레이블,pp209
1,19118163@n,NaN,132351155@n,NaN,NaN,132351155@n,arookee

In [33]:
count = 0
for a in range(len(중화용기["인상전 1"])):
    for i in 중화용기["인상전 1"]:
        if i==중화용기["주문자ID"][a]:
            print(중화용기["주문자ID"][a])

pp212
mk2450
cozy0812
pp159
sd3633
sbm0111
dudgus1203
dyddkstk
pp181

In [34]:
count = 0
for a in range(len(중화용기["인상전 2"])):
    for i in 중화용기["인상전 2"]:
        if i==중화용기["주문자ID"][a]:
            print(중화용기["주문자ID"][a])

packus3
rngksl12
mk245024
pp682
r34663691
cozy0812
pp662
pp498
14694906@n
pp159
opoplkl67
pp250
jaed72
helloxg
pp181
776646558@k

인상전

pp212  
mk2450  
cozy0812  
pp159  
sd3633  
sbm0111  
dudgus1203  
dyddkstk  
pp181  
776646558@k  
opoplkl67  
pp250  
jaed72  
helloxg   
pp662  
pp498  
14694906@n   
packus3  
rngksl12  
mk245024  
pp682  
r34663691

In [35]:
l=["pp212","mk2450","cozy0812","pp159","sd3633","sbm0111","dudgus1203","dyddkstk","pp181","776646558@k","opoplkl67",
"pp250",
"jaed72",
"helloxg",
"pp662",
"pp498",
"14694906@n",
"packus3",
"rngksl12",
"mk245024",
"pp682",
"r34663691"]

In [36]:
l=list(set(l))
len(l)

22

인상후

In [37]:
count = 0
for a in range(len(l)):
    for i in 중화용기["인상후"]:
        if i==l[a]:
            print(l[a])

pp662
jaed72
pp181
pp250
cozy0812
r34663691
pp159
pp498
14694906@n
pp682
776646558@k
rngksl12

# Top 3제품

In [42]:
Top3=pd.read_excel("top3 재구매 리스트.xlsx")
Top3.head(2)

          인상전         인상후    주문자ID
0  14694906@n  10055065@n    pp209
1     kinamio  10055065@n  arookee

In [58]:
count = []
for a in range(len(Top3["인상전"])):
    for i in Top3["인상전"]:
        if i==우수고객["주문자ID"][a]:
            print(우수고객["주문자ID"][a])

packus3
rngksl12
mk245024
sonhoya200
sejun87
pp682
r34663691
cozy0812
ksj8040
ksj8040
pp662
pp498
14694906@n
14694906@n
home2622
33709872@n
pp159
opoplkl67
pp250
jaed72
helloxg
pp181
776646558@k
wodnr8855
jiwoo97
pp107

In [65]:
k=["packus3",
"rngksl12",
"mk245024",
"sonhoya200",
"sejun87",
"pp682",
"r34663691",
"cozy0812",
"ksj8040",
"pp662",
"pp498",
"14694906@n",
"home2622",
"33709872@n",
"pp159",
"opoplkl67",
"pp250",
"jaed72",
"helloxg",
"pp181",
"776646558@k",
"wodnr8855",
"jiwoo97",
"pp107"]

In [66]:
k=list(set(k))
len(k)

24

In [67]:
count = 0
for a in range(len(k)):
    for i in Top3["인상후"]:
        if i==k[a]:
            print(k[a])

ksj8040
pp662
jaed72
pp181
pp250
cozy0812
r34663691
pp159
pp498
14694906@n
14694906@n
33709872@n
pp682
776646558@k
rngksl12

In [69]:
l=["ksj8040",
"pp662",
"jaed72",
"pp181",
"pp250",
"cozy0812",
"r34663691",
"pp159",
"pp498",
"14694906@n",
"14694906@n",
"33709872@n",
"pp682",
"776646558@k",
"rngksl12"]

In [71]:
l=list(set(l))
len(l)

14

# 재구매 리스트 일반

In [73]:
Top3=pd.read_excel("top3 재구매 리스트_일반.xlsx")

In [74]:
Top3.head(2)

          인상전2          인상후  인상후.1  인상전       일반고객        인상전1
0  132351155@n  132351155@n    1.0  1.0     pp1220  14694906@n
1   14694906@n   14694906@n    1.0  1.0  himan1128  20754614@n

In [77]:
count = 0
for a in range(len(Top3["일반고객"])):
    for i in Top3["인상전1"]:
        if i==Top3["일반고객"][a]:
            print(Top3["일반고객"][a])

jiwoo97
pp107
leemansome
pp316
pp150
pp257
mama5491
pp248
psy9195
chad0287
zlxm777
pmj4512
21640514@n
toto
pp100
kanghoexr
sparkskw
noble602
20754614@n
49797192@n
pp131
rlagmltn3441
pp191
june675
dhjekd
pp240
pp247
pp374
soung9309
jjangbeom
park7478
marche77
pp038
pp196
pp201
ggam0503
pp228
pp170
ckh1240
jeongyujoo
lovebox7055
pp194
jinneyo
38296887@n
pp407
winr800
sinnara21k
ohm09
sia1977
251423325601003@f
pp193
119347465@n
pp048
lmju1011
pp220
jsckorea12
19118163@n
pp183
pp186
pp147
pp144
88341326@n
pp349
pp206
pp136
kmd1146
nadeka01
pp495
chuheesuk
pp178
pp174
pp391
pp203
792404936@k
ksk9937
pp202
46089170@n
pp241
donkorea
jae7485
csy2011
freeze199912
kara3508
vjvj4644

KeyboardInterrupt:

In [ ]:
count = 0
for a in range(len(Top3["일반고객"])):
    for i in Top3["인상전2"]:
        if i==Top3["일반고객"][a]:
            print(Top3["일반고객"][a])

In [ ]:
count = 0
for a in range(len(Top3["일반고객"])):
    for i in Top3["인상후"]:
        if i==Top3["일반고객"][a]:
            print(Top3["일반고객"][a])